[submodule "Javascript-Exam_Final"]
	path = Javascript-Exam_Final
	url = https://github.com/IMTR0J4N/Javascript-Exam_Final
[submodule "HTML-CSS-Exam_Final"]
	path = HTML-CSS-Exam_Final
	url = https://github.com/IMTR0J4N/HTML-CSS-Exam_Final
[submodule "Javascript-Exam_Mock"]
	path = Javascript-Exam_Mock
	url = https://github.com/IMTR0J4N/Javascript-Exam_Mock
