@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@600;700&display=swap");

:root {
  --red: #f7073b;
  --grey: #5e605e;
  --black: #1a1a1a;
  --whitegreen: #d1e000;
  --blackgreen: #0ea532;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./img/bg.jpg");
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

main {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 span {
  line-height: 1em;
  font-family: "Alkatra", cursive;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

main img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: "Alkatra", cursive;
  font-weight: bold;
  color: var(--red);
}

nav {
  width: 100%;
}

nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 5%;
  list-style: none;
  background-color: var(--red);
  color: white;
}

nav ul li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding: 2vh 1vh;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

nav ul li::first-letter {
  text-transform: uppercase;
}

p {
  color: var(--grey);
  font-family: Arial, Helvetica, sans-serif;
  margin: 2vh 0vh;
  line-height: 1.5em;
}

img {
  display: block;
}

small {
  display: block;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  padding: 2vh 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--black);
}

.nav--ul-item:hover {
  background-color: var(--whitegreen);
  color: var(--red);
}

.nav--ul-item:hover .hover-menus {
  display: flex;
}

.hover-menus {
  z-index: 99;
  position: absolute;
  top: 100%;
  left: 0vw;
  width: 100%;
  height: fit-content;
  display: none;
  background: linear-gradient(to bottom, var(--whitegreen), var(--blackgreen));
}

.hover-menus {
  color: white;
  background-color: transparent;
}

li article {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

li article img {
  margin: 2vh 0vh;
}

li article h3 {
  margin: 2vh 0vh;
  color: var(--black);
  text-transform: capitalize;
}

article ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  gap: 10px;
}

article ul li {
  padding: 0vh 0vh;
}

article ul li::first-letter {
  text-transform: uppercase;
}