@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
    --font: "Luckiest Guy", cursive;
    --font2: "Verdana";
    --max-width: 750px;
    --nav--font-size: 1.3em;
    --title--font-size: 1.3em;
    --color-purple: #27032d;
    --color-gray: #666666;
    --color-white: #FFFFFF;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url("../../assets/fond.png");
    background-repeat: repeat;
}

header {
    width: 100%;
    height: 165px
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
    margin-left: 20%;
    background-color: var(--color-purple);
}

header img {
    width: 200px;
    float: left;
}

header div {
    width: 40%;
    margin-left: 300px;
    margin-top: 10px;
}

header ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    gap: 2px;
}

header ul li {
    text-transform: uppercase;
    font-family: var(--font);
    font-size: var(--nav--font-size);
    color: var(--color-white);
    cursor: pointer;
}

main {
    width: 60%;
    height: auto;
    padding: 50px 30px;
    margin-left: 20%;
    background-color: var(--color-white);
}

main article h2 {
    font-family: var(--font);
    font-size: var(--title--font-size);
    color: var(--color-purple);
}

main article h2 iconify-icon {
    margin-right: 5px;
}

main article img {
    width: 180px;
    padding-top: 15px;
    margin-right: 15px;
    float: left;
}

main article p {
    padding-top: 15px;
    font-family: var(--font2);
    color: var(--color-gray);
}

main article div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-purple);
    height: 40px;
    width: 100px;
    margin-left: 85%;
}

main article div a {
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--font2);
}

main article ul {
    list-style: disc;
    color: var(--color-gray);
    font-family: var(--font2);
    margin-top: 20px;
    margin-left: 50px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 165px;
    width: 100%;
}

footer img {
    width: 100px;
}

footer p {
    font-family: var(--font2);
    padding-top: 10px;
}

footer p a {
    color: var(--color-white);
}